<h1>Enrollment Page: <%= @task.name %></h1>
<div class = "row surround-upper-content">
	
	<div class = "col-md-5 text_box_for_enroll">
		<strong><h4 class= "inside-header">Description: </h4></strong>
		<div class = "text_body"><%= @task.description %>
		</div>
	</div>
	<div class = "col-md-12 text_box_for_enroll">
		<strong><h4 class= "inside-header">Read About It</h4></strong>
		<div class = "text_body">
			<% @task.guide.body.split(" ").each_with_index do |link, i|%>
			<%= link_to "Reading #{i+1}", link, class: "centered_links" %>
			<br/>
			<% end %>
		</div>
	</div>
	<div class = "col-md-12 text_box_for_enroll">
		<strong><h4 class= "inside-header">Practice</h4></strong>
		<div class = "text_body">
			<% @task.guide.practice.split(" ").each_with_index do |link, i|%>
			<%= link_to "Practice #{i+1}", link, class: "centered_links" %>
		<br/>
		<% end %>
		</div>
	</div>
</div>
	<div class = "course-header" id = "buttons">
		<a class="test-button" href="#take_test">Take Test</a>
		<%= link_to 'Help', mentorship_path, method: :post, class: "test-button" %>
	</div>


<div class="take_test_view" id="take_test">

	<br/>
	<%= @task.test.body %>
	<br/><br/>
	<!--  <%= form_tag "/tests/check" do %> -->
	<input type="hidden" name="task_id" value=<%= params[:id] %> >

	<ol>
		<% @task.test.questions.each do |question| %>
		<li><%= question.body %></li>
		<div class="questions">
			<% question.options.each_with_index do |option, index| %>
			<input type="radio" name=<%= "question#{question.id}" %> value="<%= @options[index] %>" class="answers">
			<%= @options[index] + ") " + option.body %>
			<br/>
			<% end %>
		</div>
		<% end %>
	</ol>
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Submit
	</button>
<!-- 	<input type="submit" name="Submit" value="Submit"> -->
	<% end %>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Results</h4>
      </div>
      <div class="modal-body">
       This is my content
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
<!--        <%= link_to 'Profile', users_path %> -->
      </div>
    </div>
  </div>
</div>
