
<div class = "surround-upper-content">
	<h1>Enrollment Page: <%= @task.name %></h1>
	<div class = "text_box_for_enroll">
		<strong><h4 class= "inside-header">Description: </h4></strong>
		<div class = "text_body"><%= @task.description %>
		</div>
	</div>
	<div class = "text_box_for_enroll">
		<strong><h4 class= "inside-header">Read About It</h4></strong>
		<div class = "text_body">
			<% @task.guide.body.split(" ").each do |link|%>
			<%= link_to link, link %>
			<br/>
			<% end %>
		</div>
	</div>
	<div class = "text_box_for_enroll">
		<strong><h4 class= "inside-header">Practice</h4></strong>
		<div class = "text_body">
			<% @task.guide.practice.split(" ").each do |link|%>
			<%= link_to link, link %>
		<br/>
		<% end %>
		</div>
	</div>
</div>
	<div class = "course-header">
		<a class="test-button" href="#take_test">Take Test</a>
	</div>


<div class="take_test_view" id="take_test">

	<br/>
	<%= @task.test.body %>
	<br/><br/>
	<%= form_tag "/tests/check" do %>
	<input type="hidden" name="task_id" value=<%= params[:id] %> >

	<ol>
		<% @task.test.questions.each do |question| %>
		<li><%= question.body %></li>
		<div class="questions">
			<% question.options.each_with_index do |option, index| %>
			<input type="radio" name=<%= "question#{question.id}" %> value="<%= @options[index] %>" class="answers">
			<%= @options[index] + ") " + option.body %>
			<br/>
			<% end %>
		</div>
		<% end %>
	</ol>
	<input type="submit" name="Submit" value="Submit">
	<% end %>
</div>

<%= link_to 'HELP', mentorship_path, method: :post %>

