<!-- Generate Profile Picture and Caption it with User Name -->
<div id="container"></div>

<h1>Welcome, <%= "#{current_user.name.capitalize}"%>!</h1>

<div class="row">
	<a href="#badges" class="col-md-4 Links">Badges</a>
	
	<div class="col-md-4">PROFILE PICTURE
		<div><%=link_to image_tag("silhouette.jpg")%></div>
		<div><%= "#{current_user.name.capitalize}"%></div>
	</div>

	<a href="#progress" class="col-md-4 Links">Progress</a>

</div>

<div class="row">

	<div class="col-md-4"><%= link_to 'Learn', subjects_path, class: "Links" %></div>

	<div class="col-md-4 Links">Teach</div>


	<div class="col-md-4 Links">Connect</div>

	
</div>

<div class = "row badge">
	<% badges = Badge.all %>

<h2 id="badges">Badges</h2>

	<% badges.each do |badge| %>
	<div class= "col-md-3">
		<strong><%= badge.name %></strong></br></br>
		<%= image_tag("#{badge.icon}") %></br></br>
	</div>
	<% end %>
</div>
