<h1>Welcome to your personal page, <%= "#{current_user.name}"%>!</h1>

<!-- Generate Profile Picture and Caption it with User Name -->
<div class="profile_pic">PROFILE PICTURE
	<br/>
<%=link_to image_tag("silhouette.jpg")%></div>
<br/>
<%= "#{current_user.name}"%>
<br/>

<div class="Learn"><%= link_to 'LEARN', subjects_path %></div>
<br/>

<div class="Teach">TEACH</div>
<br/>

<div class="Connect">CONNECT</div>
<br/>

<a href="#badges">BADGES</a>

<!-- Give the user the option to sign out -->
<footer>
	<br/>
	<%= link_to 'Sign out', destroy_user_session_path , :method => :delete %>
</footer>
<br/>
<br/>


<%#NOTE TO LEAH: To target each badge with CSS, try to interpolate a class name into the do-each loop. 
So try something like this, BEFORE the part that gets the badge id: <div class="#{badge.name}"> ... finish the loop,
then close the div </div>%>
<h2 id="badges">BADGES</h2>

<% badges = Badge.all %>
<% badges.each do |badge| %>
<%= badge.id %>
<strong><%= badge.name %></strong>
<br/>
<%= image_tag("#{badge.icon}") %>
<br/>
<br/>
<br/>
<% end %>
