<!-- Generate Profile Picture and Caption it with User Name -->

<div id="container"></div>

<h1 class= "welcome_message" id = "top">Welcome to your personal page, <%= "#{current_user.name.capitalize}" %>!</h1>

<div class="row">

	<div class="col-md-4">
		<%=link_to image_tag("silhouette.jpg", class: "img-circle")  %></br>
		<%= "#{current_user.name.capitalize}"%>
	</div>
	<div class="col-md-4 Links">
		<%=link_to image_tag("shield.png") %></br>
		<a href="#badges", class = "Links">
			Badges
		</a>
	</div>


	<div class="col-md-4 Links">
		<%=link_to image_tag("enrollment.png") %></br>
		<a href="#progress", class = "Links">
			Progress
		</a>
	</div>

</div>

<div class = "row badge">
	<% badges = Badge.all %>

	<h2 id="badges">
		Badges
	</h2>

	<% badges.each do |badge| %>
	<div class= "col-md-3">
		<strong><%= badge.name %></strong></br></br>
		<%= image_tag("#{badge.icon}") %>	
	</div>	
	<% end %>

	<div class = "col-md-6"><a href="#top", class = "top_link">Back To Top</a></div>	
	<div class = "col-md-6"><a href="#progress", class = "top_link">View Progress</a></div>

</div>	
<div class = "progress badge"
	<div id="progress">
<% @enrollments.each do |e| %> 
	<% if e.user_id == current_user.id %>
	<% if e.status == "In Progress" %>
	<strong><h3>Task: </strong><%= e.task.name %></h3>
	<strong><h3>Status: </strong><%= e.status %></h3>
	<%= link_to 'View Course Page', "/tasks/#{e.task.id}" %>
	<%= e.status %>
	<% end %>
	<% end %>
<% end %>
</div>





