<!-- Generate Profile Picture and Caption it with User Name -->
<div id="container"></div>
<div class="profile_pic">
	<h1>Welcome, <%= "#{current_user.name.capitalize}"%>!</h1>
	<div>PROFILE PICTURE</div>
	<div><%=link_to image_tag("silhouette.jpg")%></div>
	<div><%= "#{current_user.name.capitalize}"%></div>
</div>

<div class="row">

	<div class="col-md-4"><%= link_to 'Learn', subjects_path, class: "Links" %></div>

	<div class="col-md-4 Links">Teach</div>


	<div class="col-md-4 Links">Connect</div>
	
</div>


<h2>BADGES</h2>
<div class = "row badge">
	<% badges = Badge.all %>

	<% badges.each do |badge| %>
	<div class= "col-md-3">
		<strong><%= badge.name %></strong></br></br>
		<%= image_tag("#{badge.icon}") %></br></br>
	</div>
	<% end %>
</div>
