<div id="toppas"></div>
<div class="row" id = "topper">

<h1>Learn</h1>

<!-- List subject names in bold; related categories follow accordingly -->

	<% @subjects.each do |subject|%>
	<div id ="wrap_around_subjects" class = "col-md-1">
		<strong><%= subject.name %></strong>
		<br/>
		<% @courses.each do |course| %>
			<% if course.subject_id == subject.id %>
			<!-- The java script will not work here SOS -->
				<div class = "course-header" id = "header">
					<%= course.name %>
		    	</div>
		    	
					<% @tasks.each do |task| %>
						<div class = "information">

						<% if task.course_id == course.id %>
								<strong>Name: </br> </strong><%= task.name %>
								<br/>
								<strong>Description: </br> </strong><%= task.description %>
								<br/> 
								<strong>Reward: </br> </strong><%= task.points %> points	</br>
								<%= link_to 'Enroll here', "/tasks/#{task.id}", class: "enroll" %>
	    				<% end %>
	    			</div>
					<% end %>
		<% end %>	
	<% end %>
</div>
	<% end %>
</div> 