<div class= "test_results_page"> 
<h2>Congratulations <%= current_user.name %>!</h2>
<h3>You completed: <strong><%= @test.task.name %></strong></h3>

<strong><h3>Your Score: <%= @score %>/<%= @count %> = <%= ((@score.to_f/@count.to_f) * 100) %>%</h3></strong>

</div>
<% if @score == @count %>
	<% @enrollment.status %>
	<%= "Certified Helper" %>
<% end %>




