<!DOCTYPE html>
<html>
<head>
  <title>Canopy Connect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row header" id="top">
			
			<% if user_signed_in? %>

				<div class="col-md-2 col-width-15"><%= link_to 'Profile', users_path  %></div>

				<div class="col-md-2 col-width-15"><%= link_to 'Learn', subjects_path  %></div>

				<div class="col-md-2 col-width-15"><%= link_to 'Teach', teach_path %></div>

				<div class="col-md-2 col-width-15"><%= link_to 'Connections', mentorships_path %></div>

				<div  class= "col-md-2 col-width-20">
					<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
				</div>
			<end>


			<% else %>
				<div class = "full">
				<%= link_to 'Sign In', new_user_session_path %>
			</div>
			<% end %>	
		</div>

	</div>

<div class = 'container'>
	<p class="notice"><%= notice %></a>
	<p class="alert"><%= alert %></a>
	<%= yield %>
</div>
	
</body>
</html>
